# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files (uncomment if you want to ignore them) (enabled for demo purposes)
#.env
#.env.*
#!.env.example
